@model User
@{
    ViewData["Title"] = "İstifadəçi yarat";
}

<div class="card-body">
    <h5 class="card-title fw-semibold mb-4">Istifadəçi yarat</h5>
    <div class="card">
        <div class="card-body">
            <form asp-action="Create">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Ad</label>
                    <input asp-for="Name" class="form-control" aria-describedby="emailHelp">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" aria-describedby="emailHelp">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <button type="submit" class="btn btn-primary">Təsdiqlə</button>
            </form>
        </div>
    </div>
</div>


@section ValidatorScript {
    <partial name="_ValidationScriptsPartial" />
}
