@model Event

@{
    ViewData["Title"] = "Tədbiri yenilə";
}

<div class="card-body">
    <h5 class="card-title fw-semibold mb-4">Tədbiri yenilə</h5>
    <div class="card">
        <div class="card-body">
            <form asp-action="Update">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Ad</label>
                    <input asp-for="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Haqqında</label>
                    <input asp-for="Description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Date" class="form-label">Haqqında</label>
                    <input asp-for="Date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <span class="text-danger" asp-validation-for="Date"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


